includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - Modules
        - routes
    tmpDir: storage/framework/phpstan
    reportUnmatchedIgnoredErrors: true
    parallel:
        maximumNumberOfProcesses: 4
    excludePaths:
        analyse:
            - bootstrap/cache
            - public
            - storage
            - vendor
